<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <footer id="fragmentTag" th:fragment="footer1">
        <div class="container">

            <h1>Welcome to footer</h1>
            <h2>sudarshan pansare</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum nostrum, vel corrupti quam minus ullam?
                Cum, earum numquam assumenda nobis aperiam vitae facilis, obcaecati officiis deleniti ipsam reiciendis
                beatae sunt.</p>
        </div>

    </footer>
</body>

</html>