<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to thymeleaf...</h1>
    <h1> my name : <span th:text="${name}"></span></h1>
    <h1>Current Date is: <span th:text="${currentDate}"></span></h1>

    <!-- convert String into upper case -->
    <p>Converted name is:<span th:text="${#strings.toUpperCase(name)}"></span></p>
    <p>Length of String is : <span th:text="${#strings.length(name)}"></span></p>

    <!-- local variable  this is accessible only that tag not outside the tag-->
    <div th:with="a=5,b=10,n=${name}">
       <h5> the value of a is: <span th:text="${a}"></span></h5>
       
       <!-- or -->
       <h2 th:text="'the value of b is:'+${b}"></h2>
       <h3 th:text=" 'the sum of ' +${a}+ ' and ' + ${b} + ' is :' + ${a + b}"></h3>
    </div>
</body>
</html>