<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is services </h1>

    <!-- going to bring footer here -->

    <footer id = "hashTag" th:replace="footer :: footer1">

        <!-- <footer th:include="footer :: footer1"> -->
            <!-- <footer th:insert="footer :: footer1"> -->

    </footer>
</body>
</html>